@model Prova1.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<div style="display: inline-flex;">
    <a asp-action="Index"><button class="btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i></button></a>
    <h2>Vender Ação</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Broker" class="control-label"></label>
                <input asp-for="Broker" class="form-control" />
                <span asp-validation-for="Broker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acao" class="control-label"></label>
                <select asp-for="Acao" class="form-control">
                    @foreach(var acao in ViewBag.Acoes)
                    {
                        <option value="@acao.ID">@acao.Codigo</option>
                    }
                </select>
                <span asp-validation-for="Acao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vender" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
